In [1]:
import pandas as pd

In [12]:
#to read the csv file
path = 'files/Netflix.csv'
pr = pd.read_csv(path)

In [13]:
#to add title names in csv file if not exist
pr = pd.read_csv(path,names=['index','title','type','description','release_year','imdb_score'])
pr.head()

,,,,,index,title,type,description,release_year,imdb_score
index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,tm84618,Taxi Driver,MOVIE,"A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge for violent action, attempting to save a preadolescent prostitute in the process.",1976,R,113,tt0075314,8.3,795222.0
1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recruits his Knights of the Round Table, including Sir Bedevere the Wise, Sir Lancelot the Brave, Sir Robin the Not-Quite-So-Brave-As-Sir-Lancelot and Sir Galahad the Pure. On the way, Arthur battles the Black Knight who, despite having had all his limbs chopped off, insists he can still fight. They reach Camelot, but Arthur decides not to enter, as ""it is a silly place"".",1975,PG,91,tt0071853,8.199999999999998,530877.0
2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, but through a series of ridiculous events, he gains a reputation as the Messiah. When he's not dodging his followers or being scolded by his shrill mother, the hapless Brian has to contend with the pompous Pontius Pilate and acronym-obsessed members of a separatist movement. Rife with Monty Python's signature absurdity, the tale finds Brian's life paralleling Biblical lore, albeit with many more laughs.",1979,R,94,tt0079470,8.0,392419.0
3,tm190788,The Exorcist,MOVIE,"12-year-old Regan MacNeil begins to adapt an explicit new personality as strange events befall the local area of Georgetown. Her mother becomes torn between science and superstition in a desperate bid to save her daughter, and ultimately turns to her last hope: Father Damien Karras, a troubled priest who is struggling with his own faith.",1973,R,133,tt0070047,8.1,391942.0

In [16]:
#if file is seprated with other symbol using this we can access it
pr = pd.read_csv(path,sep=',')
pr.head()

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0

In [17]:
# to show specific colums 
pr = pd.read_csv(path,usecols= ['index','title','type','description','release_year','imdb_score'])
pr.head(10)

,index,title,type,description,release_year,imdb_score
0,0,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,8.3
1,1,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,8.2
2,2,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,8.0
3,3,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,8.1
4,4,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,8.8
5,5,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,7.7
6,6,My Fair Lady,MOVIE,A snobbish phonetics professor agrees to a wag...,1964,7.8
7,7,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,5.8
8,8,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,7.7
9,9,The Professionals,MOVIE,An arrogant Texas millionaire hires four adven...,1966,7.3

In [ ]:
#to skip the specific row in file
pr = pd.read_csv(path, skiprows=[1,2])
pr.head(10)

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
1,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
2,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
3,5,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,tt0066999,7.7,153463.0
4,6,tm185072,My Fair Lady,MOVIE,A snobbish phonetics professor agrees to a wag...,1964,G,170,tt0058385,7.8,94121.0
5,7,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,tt0080453,5.8,69053.0
6,8,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,tt0061418,7.7,111189.0
7,9,tm67378,The Professionals,MOVIE,An arrogant Texas millionaire hires four adven...,1966,PG-13,117,tt0060862,7.3,16168.0
8,10,tm44204,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an imp...,1961,NaN,158,tt0054953,7.5,50150.0
9,11,tm69778,Lupin the Third: The Castle of Cagliostro,MOVIE,After a successful robbery leaves famed thief ...,1979,PG,100,tt0079833,7.6,30277.0

In [26]:
#enter the number of rows u want to show
pr = pd.read_csv(path,nrows=5)
pr

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0

In [ ]:
# to see the data types in files
pr = pd.read_csv(path)
pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5283 non-null   int64
 1   id                 5283 non-null   object
 2   title              5283 non-null   object
 3   type               5283 non-null   object
 4   description        5278 non-null   object
 5   release_year       5283 non-null   int64
 6   age_certification  2998 non-null   object
 7   runtime            5283 non-null   int64
 8   imdb_id            5283 non-null   object
 9   imdb_score         5283 non-null   float64
 10  imdb_votes         5267 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 454.1+ KB